.project{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

p{
    margin-left: 400px;
    text-align: center;
    color: white;
    width: 50%;
}

img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.angelos{

    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 430px){
    .project{
        flex-direction: column;
    }


    .angelos{
        flex-direction: column;
    }

    p{
        margin-left: 100px;
    }

}